@font-face {
  font-family: Grotesk;
  src: url(grotesk-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Grotesk;
  src: url(grotesk-bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Tiempos;
  src: url(tiempos-medium.otf);
  font-style: normal;
  font-weight: 700;
}

:root {
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
}

* {
  font-family: Grotesk, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tiempos, Helvetica, sans-serif;
}
