.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.link-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2rem;
}

.project {
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.see-all {
  align-self: center;
  
}