.pageHeader {
  max-width: var(--site-width);
  padding: 0 var(--site-padding-desktop);
  display: flex;
  width: 100%;
  gap: 4rem;
  margin: 4.75rem auto 4.75rem;

  @media (max-width: env(breakpoint-md)) {
    padding: 0 var(--site-padding-mobile);
    flex-direction: column;
    gap: 3rem;
    margin: 2rem auto 4rem;
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.25rem 0 0;

  > h1 {
    margin: 1rem 0;
    line-height: 1.25;
  }
  > h4 {
    margin-bottom: 1rem;
  }
  > p {
    font-size: 1.25rem;
    color: var(--text);
    @media (max-width: env(breakpoint-md)) {
      max-width: 100%;
    }
  }

  @media (max-width: env(breakpoint-md)) {
    text-align: center;
  }

  .tagList {
    margin-top: 2rem;
    @media (max-width: env(breakpoint-md)) {
      justify-content: center;
    }
  }
}

.headerImage {
  align-self: center;
  flex: 0 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (max-width: env(breakpoint-md)) {
    margin: 0 auto;
  }
}
