.pageHeader {
  display: flex;

  max-width: var(--site-width);
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto 4rem;
  justify-content: space-between;
}

.headerText {
  > h3 {
    color: var(--secondary);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  > h1 {
    color: #ffffff;
    font-weight: 500;
    margin: 0.25rem 0 1rem;
    font-size: 3.5rem;
  }
  > p {
    max-width: 40rem;
    font-size: 1.25rem;
    color: var(--text);
  }
}

.headerImage {
  margin: 0 auto;
}
