.page-header {
  display: flex;
  flex-direction: column;
  max-width: var(--site-width);
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto 4rem;
  gap: 1rem;

  > h3 {
    color: var(--secondary);
    font-weight: 700;

    font-size: 1rem;
    letter-spacing: 1px;
    
  }
  > h1 {
    color: #ffffff;
    font-weight: 500;
    margin: 0;
    font-size: 3.5rem;
  }
  > p {
    max-width: 40rem;
    font-size: 1.25rem;
    color: var(--text);
  }
}
