.sellingPoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  gap: 1rem;
  max-width: 30rem;

  svg {
    color: #ffffff;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary);
  }

  p {
    font-size: 1.125rem;
    color: var(--text-secondary);
    line-height: 1.25;
  }
}
